* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --fts-xs: clamp(0.9rem, 2vw, 1rem);
  --fts-s: clamp(1rem, 2vw, 1.1rem);
  --fts-norm: clamp(1rem, 2vw, 1.5rem);
  --fts-mid: clamp(1.5rem, 2vw, 2rem);
  --fts-lg: clamp(1.5rem, 2vw + 1rem, 2rem);
  --fts-xlg: clamp(1.5rem, 2vw + 1.5rem, 3rem);
  /* colors*/
  --clr-bg-0: rgb(0, 0, 0);
  --clr-bg-1: rgb(53, 53, 53);
   --clr-bg-100c: rgba(34, 34, 34, 0.7);
  --clr-bg-100: rgb(238, 238, 238);
  --clr-bg-100a: rgba(255, 255, 255, 0.2);
  --clr-bg-100b: rgba(255, 255, 255, 0.1);
  --clr-bg-red: rgba(255, 24, 109, 0.934);
  --clr-bg-medium: rgba(222, 206, 142, 0.95);
  --clr-bg-norm: rgba(25, 255, 5, 0.698);
  --clr-text-0: rgb(0, 0, 0);
  --clr-text-100: rgb(255, 255, 255);
  --clr-text-100b: rgba(255, 255, 255, 0.5);
  --clr-text-100a: rgba(255, 255, 255, 0.7);
  --clr-text-1: rgb(201, 193, 193);
  --clr-grid-one: #c9c3e3;
  --clr-grid-two: #b2e6ce;
  --clr-grid-three: #1e798a;

  --bdr-5: 5px;
  --bdr-10: 10px;
  --bdr-15: 15px;
  --bdr-50: 50%;

  --padding-5: 5px;
  --padding-10: 10px;
  --padding-15: 15px;
  --padding-20: 20px;
  --padding-30: 30px;
 

   --margin-5: 5px;
   --margin-10: 10px;
   --margin-15: 15px;
   --margin-20: 20px;
   --margin-30: 30px;


}



body {
 color: var(--clr-text-100);
 background: var(--clr-bg-0);
  line-height: 1.5;
  
}

.todo-container {
   padding: var(--padding-20);
   padding-bottom: initial;
   font-size: var(--fts-mid);
   background-color: var(--clr-bg-0);
  
   max-width: 30em;
   margin-inline: auto;
   position: relative;
  
}

main {
  transition: all 0.30s;
}

.greet {
  color: var(--clr-text-1);
  font-size: var(--fts-xlg);
}

.username {
  font-weight: 600;
   font-size: var(--fts-xlg);
   margin-top: var(--margin-10);
}

.intro {
  font-size: var(--fts-xlg);
  font-weight: 600;
  margin-bottom: 80px;
  text-align: center;

}

.begin {
  margin-bottom: var(--margin-10);
  font-size: var(--fts-lg);
}
button {
  padding: var(--padding-10) var(--padding-20);
  border-radius: var(--bdr-15);
  background: transparent;
  color: var(--clr-text-100);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.30s;
   font-size: var(--fts-mid);
}
button:hover, button:focus {
  transform: scale(1.1);
}

.reminder-icon {
  position: relative;
  background-color: var(--clr-bg-100a);
  padding: var(--padding-5) 10px;
  border-radius: var(--bdr-50);
  font-size: var(--fts-lg);
  color: var(--clr-text-100b);
  
}
.reminder-icon a {
  text-decoration: none;
  
  color: var(--clr-text-100b);
}

.notification {
  justify-content: center;
  position: absolute;
 padding: 0px 6px;
 line-height: 1;
  font-size:var(--fts-norm);
  font-weight: 600;
  text-align: center;
  color: var(--clr-text-100);
  
  background: var(--clr-bg-red);
  top: 4px;
  right: 5px;
  border-radius: var(--bdr-50);
  
}
.name-con {
  padding-top: 20%;
}
.input-name {
  width: 100%;
  color: var(--clr-text-0);
  border-radius: var(--bdr-15);
  outline: none;
  border:transparent;
  padding: var(--padding-20);
  font-size: var(--fts-lg);
}
.input-name::placeholder{
  color: var(--clr-text-0);
   padding: var(--padding-5);
}

.name-add {
  margin-top: var(--margin-20);
  padding: var(--padding-10);
  display: block;
  margin-inline: auto;
}
h1 {
  font-size: var(--fts-mid);
  font-weight: 600;
  padding-block: var(--padding-20) 10px;
}

.today-date-con {
  position: relative;
  display: flex ;
  justify-content: center;
  align-items: center;
}

.todaysDate {
  position: absolute;
  
   top: -15px;
  font-size: var(--fts-norm);
  font-weight: 600;
}

.motivation {
  margin-block: var(--margin-20);
}
.motivation-quote {
  border-radius: var(--bdr-15);
  padding: var(--padding-10);

}


.one {
  background-color: var(--clr-grid-one);
  grid-area: one;
  text-align: center;
  transition:all 0.30s ;
  animation: rotate 2s linear;
}

.one-logo{
  width: 100px;
}

.two {
  background-color:var(--clr-grid-two);
   grid-area: two;
}

.three {
  background-color: var(--clr-grid-three);
   grid-area: three;
}

ion-icon {
  font-size: 2.2rem;
  color: maroon;
  box-shadow: 0 0 3px 5px var(--clr-bg-100b);
}

.card-content {
  font-weight: 600;
  color: var(--clr-text-0);
  font-size: var(--fts-mid);
  
}

.card-content p {
  font-weight: initial;
 
  font-size: 1.3rem;

}



.ongoing-tag {
  font-size: var(--fts-mid);
  margin-block: var(--padding-10);
}

.ongoing-see {
  font-size: var(--fts-mid);
  color: var(--clr-text-1);
  cursor: pointer;
}

.see-all {
  color: rgb(186, 253, 14);
  transition: all 0.30s;
}

.see-all:hover {
  opacity: 0.9;
  transform: scale(1.2);
}

.ongoing-card-container {
  margin-block: var(--padding-20);
  line-height: 1.9;
}

.ongoing-card {
 position: relative;
 background: var(--clr-bg-100b);
 font-size: var(--fts-norm);
 padding: var(--padding-20);
 border-radius: var(--bdr-15);
 margin-bottom: var(--margin-20);
 position: relative;
 transition: 0.30s 0.60s ease;
}

.translate {
  opacity: 0;
   transform: translateX(-100%);
}
.show-ongoing-card {
  opacity: 1;
   transform: translateX(0);
  
}

.the-one {
  transition: all 0.30s;
}
.edit-icon {
  position: absolute;
  top: -5px;
  right: 0;
  font-size: var(--fts-lg);
}

.priority {
  border-radius: var(--bdr-15);
  padding: 1px 5px;
}
.priority-tag {
 margin-top: var(--margin-15);
}
.high {
  background-color: var(--clr-bg-red) ;
}

.medium {
  background-color: var(--clr-bg-medium);
}

.low {
  background-color: var(--clr-bg-norm);
}

.percent {
  color: var(--clr-text-1);
}

.task {
  font-size: var(--fts-mid);
}
.timeframe {
   color: var(--clr-text-100b);
}
.starting .fa-clock-o{
  
  font-size: var(--fts-norm);
 
  margin-right: var(--margin-5)

}

.clr-trans {
    color: var(--clr-text-100b);
}

.nav-con {

  margin-top: 100px;
}

nav {
   
  padding: 40px 20px 60px 20px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 80px;
  background: transparent;
  border-radius: 50% 50% 0 0;
  margin-inline: auto;
  max-width: 30em;
  cursor: pointer;
  margin-bottom: var(--margin-20);
}
ul .fa {
   position: relative;
  font-size: var(--fts-norm);
  background: var(--clr-bg-0);
  border-radius: var(--bdr-5);
  padding: 14px 16px;
   box-shadow: 0 0 3px 3px var(--clr-bg-1);
  
}

li {
  list-style:  none;
}

nav a {
  text-decoration: none;
  color: var(--clr-text-100);
 
}

.fa-plus {
  position: absolute;
  top: -45px;
  right:0 ;
  left: 0;
   background: var(--clr-bg-0);
   padding: 14px 16px;
   border-radius: var(--bdr-50);
   color: var(--clr-text-100a);
   box-shadow: 0 0 3px 3px var(--clr-bg-1);
   text-align: center;
   z-index: 100;

}


.flex-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-2 {
  display: flex;
  align-items: center;
 
}

.flex-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-4 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 40px;
}

.grid-area1{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 100px 100px;
  grid-template-areas: 
  "one two"
  "one three";
  gap: 10px;
}

.grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.get-details {
  position: relative;
  margin-top: var(--margin-10);
  line-height: 1.5;
 margin-inline: auto;
  display: none;
   padding-top: 20px;
}
.close, .edit-close {
  font-size: var(--fts-mid);
  position: absolute;
  top: -2px;
  right:0;
 

}
.input-space {
  margin-top: 50px;
}

.get-details input {
  color: var(--clr-text-100);
  width: 100%;
  height: 60px;
  margin-bottom: var(--padding-20);
  border: 1px solid var(--clr-bg-100a);
  outline: none;
  background: var(--clr-bg-100c);
  border-radius:var(--bdr-15) ;
  padding-inline: var(--padding-10);
  cursor: pointer;
  font-size: var(--fts-lg);
}

input::placeholder {
  color: var(--clr-text-100) ;
}
input[type="time"]::-webkit-calendar-picker-indicator, input[type="date"]::-webkit-calendar-picker-indicator {
  background-color: rgb(218, 215, 215);
  border-radius: 50%;
  cursor: pointer;
  
}

.error {
  color: red;
  padding-bottom: 10px;
  text-align: center;
}

.get-details-edit input {
  width: 100%;
  height: 50px;
 border: transparent;
 outline: transparent;
  font-size: var(--fts-norm);
  padding: var(--padding-5);
  border-radius: var(--bdr-15);
  font-size: var(--fts-mid);
}

.get-details-edit label {
  font-size: var(--fts-norm);
}

.get-details-edit .save {
  margin-top: var(--margin-20);
  font-size: var(--fts-lg);
}
select {
  margin-bottom: var(--padding-20);
  width: 50%;
  height: 50px;
  background: var(--clr-bg-100c);
  color: var(--clr-text-100a);
  outline: none;
  border: none;
  border-radius: var(--bdr-15);
  padding-inline: var(--padding-10);
  font-size: var(--fts-mid);
}

label {
   color: var(--clr-text-100);
   font-style: italic;
    font-size: var(--fts-mid);
}
.button-con {
  text-align: center;
}


.note-area {
  padding: var(--padding-10);
  min-height: 100dvh;
  border: transparent;
  outline: transparent;
  width: 100%;
  height: 100%;
}

.noshow {
  display: none;
}
.show {
  display: block;
   
  
}


.event {
  font-size: var(--fts-lg);
}

.move-left {
  transform: translateX(-100px);
}
.delete-container{
  width: 100%;
  overflow: hidden;
}
.deleteBtn {
  position: absolute;
  font-size: var(--fts-norm);
  background-color: red;
  padding: 10px;
  bottom: 0;
  right: 0;
  box-shadow: 0 0 3px 4px rgba(246, 246, 246, 0.3);
}
a {
  text-decoration: none;
}

@keyframes rotate {
 0% {
  transform: rotateY(0);
 }
 30% {
  transform: rotateY(100deg);
 }
 60% {
  transform: rotateY(200deg);
 }

 100% {
  transform: rotateY(360deg);

 }
}

@media (min-width: 40em) {

  .todo-container {
    max-width: 1000px;
    height: initial;
  
  }

  .username {
    font-size: var(--fts-xlg);
  }

  h1 {
  width: initial;
 
 
}
  nav {
    max-width: 1000px;
     padding: 30px 20px 80px 20px;
     font-size: var(--fts-norm);
  }

  ul .fa {
    font-size: var(--fts-norm);
  }

   .grid-area1 {
     grid-template-rows: 150px 150px;
     gap: 30px;
   }

  
  
.card-content {
  font-size: var(--fts-mid);
  
}

.card-content p {
  
  font-size: var(--fts-mid);

}

.ongoing-tag {
  font-size: var(--fts-mid);
}

.ongoing-see {
  font-size: var(--fts-mid);
  
}






.starting .fa-clock-o{
  
  font-size: var(--fts-mid);

}

.event {
  font-size: var(--fts-mid);
} 
.get-details {
  line-height: 2;
}
.get-details input {
  height: 100px;
  font-size: var(--fts-lg);
}

select {
  height: 80px;
  font-size: var(--fts-lg);
}

.close, .edit-close {
  font-size: 2rem;
}

.save {
  font-size: var(--fts-lg);
}
.username-con {
  text-align: center;
}
.input-name {
  
  width: 80%;
  font-size: 2rem;
}
.input-name::placeholder {
  font-size: 2rem;
}
.name-add {
  font-size: var(--fts-lg);
}

}


