* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --fts-xs: clamp(0.9rem, 2vw, 1rem);
  --fts-s: clamp(1rem, 2vw, 1.1rem);
  --fts-norm: clamp(1rem, 2vw, 1.5rem);
  --fts-mid: clamp(1.5rem, 2vw, 2rem);
  --fts-lg: clamp(1rem, 2vw + 1.5rem, 2rem);
  /* colors*/
  --clr-bg-0: rgb(0, 0, 0);
  --clr-bg-1: rgb(53, 53, 53);
   --clr-bg-100c: rgba(34, 34, 34, 0.7);
  --clr-bg-100: rgb(238, 238, 238);
  --clr-bg-100a: rgba(255, 255, 255, 0.2);
  --clr-bg-100b: rgba(255, 255, 255, 0.1);
  --clr-bg-red: rgba(255, 24, 109, 0.934);
  --clr-bg-medium: rgba(222, 206, 142, 0.95);
  --clr-bg-norm: rgb(84, 241, 70);
  --clr-text-0: rgb(0, 0, 0);
  --clr-text-100: rgb(255, 255, 255);
  --clr-text-100b: rgba(255, 255, 255, 0.5);
  --clr-text-100a: rgba(255, 255, 255, 0.7);
  --clr-text-1: rgb(201, 193, 193);
  --clr-grid-one: #c9c3e3;
  --clr-grid-two: #b2e6ce;
  --clr-grid-three: #1e798a;

  --bdr-5: 5px;
  --bdr-10: 10px;
  --bdr-15: 15px;
  --bdr-50: 50%;

  --padding-5: 5px;
  --padding-10: 10px;
  --padding-15: 15px;
  --padding-20: 20px;
  --padding-30: 30px;
 

   --margin-5: 5px;
   --margin-10: 10px;
   --margin-15: 15px;
   --margin-20: 20px;
   --margin-30: 30px;


}



body {
 color: var(--clr-text-100);
 background: var(--clr-bg-0);
  line-height: 1.5;
}

.todo-container {
   padding: var(--padding-20);
   padding-bottom: initial;
   font-size: var(--fts-mid);
   background-color: var(--clr-bg-0);
  
   max-width: 30em;
   margin-inline: auto;
   position: relative;
}

.greet {
  color: var(--clr-text-1);
}

.username {
  font-weight: 600;
}

.reminder-icon {
  position: relative;
  background-color: var(--clr-bg-100a);
  padding: var(--padding-5) 7px;
  border-radius: var(--bdr-50);
  font-size: var(--fts-norm);
  color: var(--clr-text-100b);
}

.notification {
  justify-content: center;
  position: absolute;
  width: 12px;
  height: 12px;
  font-size: 11px;
  font-weight: 600;
  text-align: center;
  color: var(--clr-text-100);
  
  background: var(--clr-bg-red);
  top: 4px;
  right: 3px;
  border-radius: var(--bdr-50);
}

h1 {
  width: 15ch;
  font-size: var(--fts-lg);
  font-weight: 500;
  padding-block: var(--padding-20);
}


.motivation {
  margin-block: var(--margin-20)
}
.motivation-quote {
  border-radius: var(--bdr-15);
  padding: var(--padding-10);
}


.one {
  background-color: var(--clr-grid-one);
  grid-area: one;
}

.two {
  background-color:var(--clr-grid-two);
   grid-area: two;
}

.three {
  background-color: var(--clr-grid-three);
   grid-area: three;
}

ion-icon {
  font-size: var(--fts-lg);
  color: maroon;
  box-shadow: 0 0 3px 5px var(--clr-bg-100b);
}

.card-content {
  font-weight: 600;
  color: var(--clr-text-0);
  font-size: var(--fts-s);
  
}

.card-content p {
  font-weight: initial;
  margin-top: var(--margin-5);
  font-size: var(--fts-xs);

}

.cc1 {
  margin-top: 30px;

}

.ongoing-tag {
  font-size: var(--fts-mid);
  margin-block: var(--padding-10);
}

.ongoing-see {
  font-size: var(--fts-s);
  color: var(--clr-text-1);
}

.ongoing-card-container {
  margin-block: var(--padding-20);
  line-height: 1.8;
}

.ongoing-card {
 background: var(--clr-bg-100b);
 font-size: var(--fts-norm);
 padding: var(--padding-20);
 border-radius: var(--bdr-15);
 
}



.priority {
  border-radius: var(--bdr-15);
  padding: 1px 5px;
  margin-bottom: var(--margin-10);
}
.high {
  background-color: var(--clr-bg-red) ;
}

.medium {
  background-color: var(--clr-bg-medium);
}

.low {
  background-color: var(--clr-bg-norm);
}

.percent {
  color: var(--clr-text-1);
}

.task {
  font-size: var(--fts-mid);
}
.timeframe {
   color: var(--clr-text-100b);
}
.starting .fa-clock-o{
  
  font-size: var(--fts-norm);
 
  margin-right: var(--margin-5)

}

.clr-trans {
    color: var(--clr-text-100b);
}

.nav-con {

  padding-top: 50px;
}

nav {
   
  padding: var(--padding-20);
  position: fixed;
  bottom: 0;
 
  background: var(--clr-bg-1);
  border-radius: 50% 50% 0 0;
  width: 100%;
  max-width: 30em;
}
ul .fa {
   position: relative;
  font-size: var(--fts-lg);
  
}

li {
  list-style:  none;
}

nav a {
  text-decoration: none;
  color: var(--clr-text-100);
 
}

.fa-plus {
  position: absolute;
  top: -45px;
  right:0 ;
  left: 0;
   background: var(--clr-bg-100a);
   padding: 14px 16px;
   border-radius: var(--bdr-50);
   color: var(--clr-text-100a);
   text-align: center;
   z-index: 100;

}

.fa-plus::after {
  content: "";
  background: black;
  height: 60px;
  width: 60px;
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: var(--bdr-50);
  z-index: -1;
   
}

.flex-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-2 {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.flex-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-area1{
  display: grid;
  grid-template-columns: 1fr 2fr  ;
  grid-template-areas: 
  "one two"
  "one three";
  gap: 10px;

 
}

.grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  
}

